/C2H/bin/Debug/net6.0/*.json
/C2H/bin/Debug/net6.0/*.dll
/C2H/bin/Debug/net6.0/*.exe
/C2H/bin/Debug/net6.0/*.pdb
/.vs/C2H/FileContentIndex/*.vsidx
/.vs/C2H/FileContentIndex/*.lock
/.vs/C2H/config/*.config
/.vs/C2H/v17/*.suo
/C2H/obj/*.json
/C2H/obj/*.props
/C2H/obj/*.targets
/C2H/obj/Debug/net6.0/*.cs
/C2H/obj/Debug/net6.0/*.cache
/C2H/obj/Debug/net6.0/*.editorconfig
/C2H/obj/Debug/net6.0/*.BuildWithSkipAnalyzers
/C2H/obj/Debug/net6.0/*.txt
/C2H/obj/Debug/net6.0/*.dll
/C2H/obj/Debug/net6.0/*.pdb
/C2H/obj/Debug/net6.0/*.exe
/C2H/obj/Debug/net6.0/*.json
/C2H/obj/Debug/net6.0/ref/*.dll
/C2H/obj/Debug/net6.0/refint/*.dll
/C2H/obj/Debug/net6.0/scopedcss/Views/Shared/*.css
/C2H/obj/Debug/net6.0/scopedcss/bundle/*.css
/C2H/obj/Debug/net6.0/scopedcss/projectbundle/*.css
/C2H/obj/Debug/net6.0/staticwebassets/*.props
/C2H/obj/*.cache
