@model IEnumerable<Product>
@using C2H.ViewModels
@using System.Linq
@{
    ViewData["Title"] = "Home Page";
}

<div class="container home-index">
    <div class="">
        <div class="fa fa-home"></div> > <span>PRODUCT LIST</span> >
    </div>
    <div class="card">
        <div class="card-header btn-toolbar justify-content-between" role="toolbar">
              <div class="btn-group col-md-8" role="group" aria-label="First group">
                <span class=" d-flex justify-content-center align-items-center" style="font-size: 13px;min-width: 45px;">SORT: #</span>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='A'>A</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='B'>B</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='C'>C</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='D'>D</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='E'>E</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='F'>F</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='G'>G</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='H'>H</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='I'>I</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='J'>J</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='K'>K</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='L'>L</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='M'>M</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='N'>N</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='O'>O</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='P'>P</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='Q'>Q</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='R'>R</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='S'>S</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='T'>T</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='U'>U</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='V'>V</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='W'>W</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='X'>X</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='Y'>Y</button>
                <button type='button' class='btn btn-outline-secondary btn-sm btn-letter-filter' data-btn='Z'>Z</button>
              </div>
            <div class="input-group input-group-sm col-md-4 mb-1 mt-1">
                <input type="text" id="searchText" class="form-control" aria-describedby="search" style="max-width: 150px;">
                <button class="btn btn-outline-secondary btn-search" type="button" id="search">SEARCH</button>
            </div>
        </div>
        <div id="spinner" style="display: none;">
            <!-- Add your spinner HTML or image here -->
            Loading...
        </div>
        <div class="align-items-center" style="overflow-y: scroll;height: 50vh;" id="partialContainer">
            
            @await Html.PartialAsync("_Products", Model);
        </div>
    </div>
</div>

