@{
    ViewData["Title"] = "Home Page";
}

<div class="container home-index">
    <div class="">
        <div class="fa fa-home"></div> > <span>PRODUCT LIST</span> >
    </div>
    <div class="card">
        <div class="card-header btn-toolbar justify-content-between" role="toolbar">
              <div class="btn-group col-md-8" role="group" aria-label="First group">
                <span class=" d-flex justify-content-center align-items-center" style="font-size: 13px;min-width: 45px;">SORT: #</span>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='A'>A</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='B'>B</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='C'>C</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='D'>D</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='E'>E</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='F'>F</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='G'>G</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='H'>H</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='I'>I</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='J'>J</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='K'>K</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='L'>L</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='M'>M</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='N'>N</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='O'>O</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='P'>P</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='Q'>Q</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='R'>R</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='S'>S</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='T'>T</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='U'>U</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='V'>V</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='W'>W</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='X'>X</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='Y'>Y</button>
                    <button type='button' class='btn btn-outline-secondary btn-sm' data-btn='Z'>Z</button>
              </div>
            <div class="input-group input-group-sm col-md-4 mb-1 mt-1">
                <input type="text" class="form-control" aria-describedby="search" style="max-width: 150px;">
                <button class="btn btn-outline-secondary btn-search" type="button" id="search">SEARCH</button>
            </div>
        </div>
        <div class="card-body row">

            <div class="col-md-4 float-end">
                <div class="card mb-3 product-card" style="max-width: 540px;">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-3 h-100 d-flex">
                            <div class="no-image-sub d-flex justify-content-center align-items-center">AJ</div>
                        </div>
                        <div class="col-md-9">
                            <div class="card-body justify-content-left">
                                <h5 class="card-title">Apple Juice</h5>
                                <p class="card-text"><small class="text-orange">Buy product</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

